@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/*
END OF CSS RESET
*/
ul {
  font-family: "Fira Code", serif;
  list-style: square;
  margin: 0 0 0 30px;
  padding: 30px 0 0 0;
}

ol {
  font-family: "Fira Code", serif;
  list-style: lower-roman;
  margin: 0 0 10px 30px;
  padding: 30px 0px 0 0;
}

button, button.btn.btn-primary{
  background: #597aff;
  color: #000000;
  border: none;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  text-align: center;
  min-width: 100px;
  padding: 8px 20px;
  margin: 0 0 0 30px;
}

button.btn.btn-primary:hover{
  background: #59ffb7;
}

a.btn.btn-primary{
  background: none;
  color: #597aff;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  padding: 8px 20px;
}
a.btn.btn-primary:hover{
  color: #59ffb7;
}

button.btn.btn-secondary, a.btn.btn-secondary {
  background: #59ffb7;
  color: #000000;
  border: none;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  text-align: center;
  min-width: 100px;
  padding: 8px;
}
button.btn.btn-secondary:hover{
  background: #597aff;
}

button.btn.btn-danger {
  background: #ff5959;
  color: #000000;
  border: none;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  text-align: center;
  min-width: 100px;
  padding: 8px;
}
button.btn.btn-danger:hover{
  background: #597aff;
}

button.btn.btn-warning {
  background: #ffac59;
  color: #000000;
  border: none;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  text-align: center;
  min-width: 100px;
  padding: 8px;
}
button.btn.btn-warning:hover{
  background: #597aff;
}

button.btn.btn-info, a.btn.btn-info {
  background: #8b59ff;
  color: #000000;
  border: none;
  font-family: "Gemunu Libre", serif;
  font-size: 16px;
  text-align: center;
  min-width: 100px;
  padding: 8px;
}
button.btn.btn-info:hover{
  background: #597aff;
}

table {
  font-family: "Fira Code", serif;
  font-size: 15px;
  border: solid 1px #000000;
  width: 50%;
  margin: 10px 0 0 30px;

  th, td {
    border: solid 1px #000000;
    padding: 10px;
  }

  th{
    background-color: #597aff;
    color: #ffffff;
    font-weight: bold;
  }
}

/*# sourceMappingURL=pastel.css.map */
