@use 'variables';
@use 'sass:map';

input{
    font-family: variables.$body-font;
    font-size: variables.$font-size-sm;
    border: 1px solid map.get(variables.$colors, "black");
    background-color: rgba(map.get(variables.$colors, "gray"), 0.3);
    padding: 0.2em;
    margin-bottom: 1em;
    border-radius: 3px;
}

input::placeholder{
    font-family: variables.$body-font;
    font-size: variables.$font-size-sm;
    color: rgba(map.get(variables.$colors, "black"), 0.5);
}

