@use 'font-almarai';
@use 'font-gemunu';
@use 'font-firacode';

// Main Colours
$colors: (
    "primary": #597aff,
    "secondary": #59ffb7,
    "danger": #ff5959,
    "warning": #ffac59,
    "info": #8b59ff,
    "red": #ff5959,
    "orange": #ffac59,
    "yellow": #f9ff59,
    "green": #59ffb7,
    "blue": #597aff,
    "purple": #8b59ff,
    "gray": #b3b3b3,
    "black": #000000,
    "white": #ffffff
);

// Fonts
$heading-font: 'Almarai', serif;
$caption-font: 'Gemunu Libre', serif;
$body-font: 'Fira Code', serif;